.answer-group input {
  position: absolute;
  opacity: 0;
  height: 0;
  width: 0;
}

.answer-group label {
  display: block;
  margin-bottom: 0.25rem;
  cursor: pointer;
  background-color: #fcfcfc;
  border-radius: 1rem;
  width: 100%;
  padding: 0.5rem;
  color: #001011;
}

.answer-group input:checked + label {
  background-color: #6ccff6;
}
