.answer-group {
  margin-bottom: 0.75rem;
}

.answer-group input {
  position: absolute;
  opacity: 0;
  height: 0;
  width: 0;
}

.answer-group legend {
  display: inline-block;
  margin: 0 0.5rem 0.25rem;
}

.answer-group label {
  display: block;
  margin-bottom: 0.25rem;
  cursor: pointer;
  background-color: var(--main-background-color);
  border-radius: 1rem;
  width: 100%;
  padding: 0.5rem;
  color: var(--text-color);
  transition: background-color 0.1s ease-out;
}

.answer-group label:focus,
.answer-group label:hover {
  background-color: var(--main-background-hover-color);
}

.answer-group input:checked + label {
  background-color: var(--selected-color);
}

.answer-group input:checked:focus + label,
.answer-group input:checked + label:hover {
  background-color: var(--selected-hover-color);
}

.answer-group .validation-group {
  border-radius: 1rem;
  padding: 0.25rem;
}

.answer-group .validation-group.error {
  background-color: var(--error-color);
}
