.vote .input-group {
  margin-bottom: 0.75rem;
}

.vote input {
  border: none;
  border-radius: 1rem;
  font: inherit;
  padding: 0.5rem;
}

.vote input[type="text"] {
  display: block;
  width: 100%;
  color: #001011;
}

.vote .validation-group {
  border-radius: 1rem;
  padding: 0.25rem;
}

.vote .validation-group.error {
  background-color: #d00000;
}

.vote .input-group label {
  display: inline-block;
  margin: 0 0.5rem 0.25rem;
}

.vote .error-message {
  font-size: 0.75rem;
  margin: 0.25rem 0 0 0.5rem;
}

.vote input[type="submit"] {
  appearance: none;
  background-color: #1f7a8c;
  color: #fcfcfc;
  cursor: pointer;
}
